<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="loadingList" class="spinner-center"></ion-spinner>

  <ion-list *ngIf="!loadingList">
    <ion-item
      button
      detail
      *ngFor="let e of episodes; trackBy: trackById"
      (click)="openDetail(e.id)"
    >
      <ion-label>
        <h2>{{ e.name }}</h2>
        <p>{{ e.episode }} • {{ e.air_date | date:'mediumDate' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<!-- MODAL -->
<ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ng-template>

    <ion-header>
      <ion-toolbar color="primary">

          <ion-text slot="start" id="volver" fill="clear" (click)="closeModal()">Regresar</ion-text>
        <ion-title>Información</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-spinner *ngIf="loadingDetail" class="spinner-center"></ion-spinner>

      <ng-container *ngIf="selected && !loadingDetail">

        <h1>{{ selected.name }}</h1>
        <p>
          <ion-badge color="tertiary">{{ selected.episode }}</ion-badge>
          <br />
          {{ selected.air_date | date:'longDate' }}
        </p>

        <h3>Personajes</h3>

        <div class="characters-scroll">
          <ion-card
            *ngFor="let c of selected.characters"
            class="carta-personaje-pequeño"
          >
            <ion-img [src]="c.image"></ion-img>
            <ion-card-content>
              <strong>{{ c.name }}</strong>
              <p>{{ c.status }} • {{ c.species }}</p>
            </ion-card-content>
          </ion-card>
        </div>

      </ng-container>

    </ion-content>
  </ng-template>
</ion-modal>
