.characters-scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.carta-personaje-pequeño {
  min-width: 140px;
  text-align: center;
}

.toolbar-orange {
  --background: #ff8c00;
  --color: white;
}

