<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Este es el componente home</p>
</ion-content>
<ion-button routerLink="/registro-usuario">
    Registrar usuarios
</ion-button>
<ion-button routerLink="/listado-usuario">
    Ir al listado de usuarios
</ion-button>
<ion-button routerLink="/registro-articulo">
    Registrar articulos
</ion-button>
<ion-button routerLink="/listado-articulo">
    Ir al listado de articulos
</ion-button>
<ion-button routerLink="/qwen">
    Chat
</ion-button>
<ion-button routerLink="/rm-graphql">
    Personajes Rick And Morty
</ion-button>
<ion-button routerLink="/rm-episodios">
    Episodios Rick And Morty
</ion-button>